<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!-- BD Local   -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=ADMIN-PC\SQLEXPRESS;initial catalog=Location;persist security info=True;user id=sa;password=Bonjour123!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CS" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;initial catalog=Location;persist security info=True;user id=sa;password=Bonjour123! ;" providerName="System.Data.SqlClient" />
    <add name="ApplicationConnection" connectionString="metadata=res://*/DAL.ModelApplication.csdl|res://*/DAL.ModelApplication.ssdl|res://*/DAL.ModelApplication.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC\SQLEXPRESS;initial catalog=Location;persist security info=True;user id=sa;password=Bonjour123!;multipleactiveresultsets=True;application name=EntityFrameworkMUE&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

 

  <!-- BD LWS 
    <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=.\MSSQLSERVER2019;initial catalog=gestionlocations;persist security info=True;user id=admin;password=Lyes2009@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CS" connectionString="Data Source=.\MSSQLSERVER2019;initial catalog=gestionlocations;persist security info=True;user id=admin;password=Lyes2009@;" providerName="System.Data.SqlClient" />
    <add name="ApplicationConnection" connectionString="metadata=res://*/DAL.ModelApplication.csdl|res://*/DAL.ModelApplication.ssdl|res://*/DAL.ModelApplication.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQLSERVER2019;initial catalog=gestionlocations;persist security info=True;user id=admin;password=Lyes2009@;multipleactiveresultsets=True;application name=EntityFrameworkMUE&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
-->

  <appSettings>
    <!--<add key="environnement" value="Prod" />-->
    <add key="environnement" value="Dev" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LicenseKey" value="4AF4-263D-70A5-F5C8-57E6-045C-ED92-5369" />
    <add key="DocumentCache" value="memory" />
    <add key="EmailServer" value="mail.gestionlocations.com" />
    <add key="EmailPort" value="993" />
    <!-- Port IMAP avec SSL -->
    <add key="EmailUseSsl" value="true" />
    <add key="EmailUsername" value="contact@gestionlocations.com" />
    <add key="EmailPassword" value="Bonjour123!" />
  </appSettings>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- Limite pour les requêtes ASP.NET (en kilo-octets) -->
    <!--<httpRuntime maxRequestLength="102400" />-->
    <!-- 100 Mo -->
    <sessionState timeout="60" />
    <customErrors mode="Off" />
    <compilation targetFramework="4.8" debug="true">


    </compilation>
    <httpRuntime targetFramework="4.8" />
    <httpHandlers>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <!--<modules>
      <remove name="FormsAuthentication" />
    </modules>-->
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <security>
      <requestFiltering>
        <!-- Limite pour IIS (en octets) -->
        <requestLimits maxAllowedContentLength="104857600" />
        <!-- 100 Mo -->
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.1.0" newVersion="2.10.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.47.2.0" newVersion="4.47.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.24.0.0" newVersion="6.24.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>

    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>-->

  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <!-- smtp 1
      <smtp deliveryMethod="Network" 
        from="noreply@solidaritepourleretour.org">
        <network
          host="mail65.lwspanel.com"
          port="465"
          userName="noreply@solidaritepourleretour.org"
          password="Bonjour123!2"
          enableSsl="true" 
         />
      </smtp>
      -->
      <!-- smtp2  -->
      <smtp deliveryMethod="Network" from="noreply@gestionlocations.com">
        <!--<network host="in-v3.mailjet.com" port="587" userName="6ddf7141d66cd1060d5678eb2ec2be79" password="89190249aded90e55db5706025adf308" enableSsl="true" />-->
        <network host="mail.gestionlocations.com" port="587" userName="noreply@gestionlocations.com" password="Bonjour123!" enableSsl="true" />

      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <!-- Gérer les dates au format dd-MM-yyyy -->

    <globalization culture="en-CA" uiCulture="en-CA" />
    <!-- 
    <globalization uiCulture="fr-FR" culture="fr-FR" enableClientBasedCulture="true"/>
  -->
  </system.web>
</configuration>






